* {
    padding:0;
    margin:0;
    border:0;
}

html{
    background: #f5f5dc;
}

body{
    padding: 0;   
    margin: 10px 5%;
    box-shadow: 1px 1px 12px #555;
    color: #483d37;
    background: #d9e021;

}
#lens{

    margin-right: 5%;
}

.top{
    height: 100px;
    background: #483d37;
    color: white;
}
#logo{
    margin-top: 10px;
    margin-right: -45px;
}

.header{
    margin: 0;
    padding: 30px;
    height: 110px;
    border-bottom-right-radius: 80%;
    background: #483d37;
    color: white;
}






.login{
    position: absolute;
    top: 1em;
    margin-left: 60%;

}

.logo{float: left;}
.logo img{margin-top: 5%;}
#rechercher{
    height: 150px;
    background: #d9e021;
    padding: 10px;
}
#rechercher a {color: #ffffff;}

#title{
    position: absolute;
    top: 1em;
    left: 3em;
}

.publier{float: right;margin-right: 5%;}
.trouver{float: left;}



.container_page{
    color: #483d37;
    padding: 20px;
    margin-top: 15px;
    background: white;
    box-shadow: 1px 1px 12px #555;
}

/*INSCRIPTION */


.corps{float: left; border: solid 1px #483d37; width: 65%;padding: 15px;box-shadow: 1px 1px 12px #555;}
.info{float: right; border: solid 1px #483d37; width: 30%;padding: 20px;box-shadow: 1px 1px 12px #555;margin-right: 3%;}





/*PROFIL*/
.notif{
    height: 50px;
    box-shadow-bottom: 1px 1px 12px #555;
}


.navbar{background: #d9e021; border: none;}
.navbar-default .navbar-nav > .open > a:focus{color: #d9e021; background-color: #d9e021;}

.badge{


}
span.badge{
    margin-left: -10px;
    background-color: red;
    border: 1px solid;
}

/*FOOTER*/

footer{


    height: 140px;
    background: #483d37;
    color: #ffffff;
    font-size: 85%;
    padding-top : 2%;
}

.footer{
    margin-left : 5%;
}

.footer a{
    color:#ffffff;
}

/*FORMULAIRE AJOUT TRAJET*/

.form_ajoutTrajet{

}

.form_ajoutTrajet input, textarea, select {
   padding:3px;
   border:1px solid #483d37;
   border-radius:5px; 
   line-height:150%;
}

.form_ajoutTrajet input[type=checkbox] {
   background-color:transparent;
   border:none;
   width:10px;
}
.form_ajoutTrajet label{
    display:block;
    width:200px;
    float:left;
}

.form_ajoutTrajet fieldset {
   padding:0 20px 20px 20px;
   margin-bottom:10px;
}


/* Tooltip */


#tooltip {
    position:absolute;
    z-index:9999;
    color:#fff;
    font-size:10px;
    width:180px;
    
}

#tooltip .tipHeader {
    height:8px;
    background:url(img/tipHeader.gif) no-repeat;
}


#tooltip .tipBody {
    background-color:#000;
    padding:5px 5px 5px 15px;
}

#tooltip .tipFooter {
    height:8px;
    background:url(img/tipFooter.gif) no-repeat;
}



