* {
padding:0;
margin:0;
border;
}

html{
    background: #f5f5dc;
}

body{
    padding: 0;   
    margin: 10px 5%;
    box-shadow: 1px 1px 12px #555;
    color: #483d37;
    background: #d9e021;
}
.top{
    height: 100px;
    background: #483d37;
    color: white;
}
#logo{
    margin-top: 10px;
    margin-right: -45px;
}
#lens{
    margin-right: 3%;
}
.header{
    margin: 0;
    padding: 30px;
    height: 110px;
    border-bottom-right-radius: 80%;
    background: #483d37;
    color: white;
}



.login{
    position: absolute;
    top: 1em;
    margin-left: 60%;
}

.logo{float: left;}
.logo img{margin-top: 5%;}
#rechercher{
    height: 150px;
    background: #d9e021;
    padding: 10px;
}
#rechercher a {color: #ffffff;}

#title{
    position: absolute;
    top: 1em;
    left: 3em;
}

.publier{float: right;margin-right: 5%;}
.trouver{float: left;}



.container_page{
    color: #483d37;
    padding: 20px;
    margin-top: 15px;
    background: white;
    box-shadow: 1px 1px 12px #555;
}

/*INSCRIPTION */


.corps{float: left; border: solid 1px #483d37; width: 60%;padding: 10px;}
.info{float: right; border: solid 1px #483d37; width: 30%;padding: 10px;margin-right: 5%;}


/*FOOTER*/
footer{height: 100px; background: #483d37;
}


/*PROFIL*/
.notif{
    height: 50px;
    box-shadow-bottom: 1px 1px 12px #555;
}


.navbar{background: #d9e021; border: none;}
.navbar-default .navbar-nav > .open > a:focus{color: #d9e021; background-color: #d9e021;}

.badge{
    
    
}
span.badge{
    margin-left: -10px;
    background-color: red;
    border: 1px solid;
}